/*

- FONT WEIGHTS
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- LINE HEIGHTS
Default: 1
Small: 1.05
Paragraph Default: 1.6


-- 02 COLORS

Primary:#099268
Tints:
#e6fcf5
#f5fefb
Shades:
#087f5b

Accents:
Greys:
#343a40
#495057
#ced4da
--- 05 SHADOWS

--- 07 BORDER-RADIUS
Default: 9px

--- 07 WHITESPACE

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 01 TYPOGRAPHY SYSTEM

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /
52 / 62 / 74 / 86 / 98


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.05;
  font-weight: 400;
  color: #343a40;
  overflow-x: hidden;
  background-color: #f5fefb;
}

/* REUSABLE COMPONENTS */

button {
  background-color: none;
  border: none;
}

.grid {
  display: grid;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--6cols {
  grid-template-columns: repeat(6, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.main-heading {
  padding-top: 1rem;
  font-size: 4.4rem;
  letter-spacing: -0.5;
  margin-bottom: 3rem;
  font-style: 700;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  background-color: #099268;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
}

.btn--main:link,
.btn--main:visited {
  color: #fff;
  background-color: #099268;
}

.btn--main:active,
.btn--main:hover {
  background-color: #087f5b;
}

.btn--secondary:link,
.btn--secondary:visited {
  color: #343a40;
  background-color: #fff;
}

.btn--secondary:active,
.btn--secondary:hover {
  background-color: #e6fcf5;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.2rem !important;
}

/* HEADER */

.logo {
  height: 5.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6fcf5;
  height: 9.6rem;
  padding: 0 4.8rem;
  gap: 8rem;
  position: relative;
}

/***************************/

/* NAVIGATION */

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #343a40;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #087f5b;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #099268;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #087f5b;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***************************/

/* Recipe */

.recipe {
}

.recipe-container {
  max-width: 90rem;
  margin: 4.8rem auto;
  padding: 4.8rem 4.8rem;
  background-color: #e7f6f2;
}

.recipe-name {
  padding-top: 1rem;
  font-size: 3rem;
  letter-spacing: -0.5;
  margin-bottom: 3rem;
  font-weight: 700;
  text-align: center;
}

.recipe-description {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}
.image-ingredients {
  justify-items: end;
  margin-bottom: 4.8rem;
  gap: 4.8rem;
}

.recipe-img-container {
}

.recipe-img {
  display: inline-block;
  width: 100%;
}

.ingredients-presentation {
  font-size: 2rem;
  font-weight: 600;
}

.ingredients-list {
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.ingredient {
  font-size: 1.7rem;
}

.recipe-steps {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-left: 2.4rem;
}

.step-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.step-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

/***************************/

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 8rem;
}

.footer-container {
  background-color: #e6fcf5;
  padding: 3.6rem 0;
}

.logos-copyright {
}

.social-logos {
  margin-top: 2.4rem;
  margin-left: 0.6rem;
  display: flex;
  gap: 1.8rem;
  margin-bottom: 3.2rem;
}

.social-logo-link {
  transition: all 0.3s;
  font-size: 3rem;
}

.social-logo-link:link,
.social-logo-link:visited {
  color: #adb5bd;
}

.social-logo-link:active,
.social-logo-link:hover {
  color: #099268;
}

.social-logo {
}

.copyright-text {
  font-size: 1.4rem;
}

.contact {
}

.footer-heading {
  margin-top: 1.4rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.4rem;
}

.adress {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.footer-link {
  display: block;
  transition: all 0.3s;
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.footer-link:link,
.footer-link:visited {
  color: #495057;
  text-decoration: none;
}

.footer-link:active,
.footer-link:hover {
  color: #099268;
}

.compte {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
